.App {
    display: flex;
    justify-content: center;
}

.App__todo-item {
    text-align: center;
    display: flex;
    list-style: none;
}

.App__todo-item-completed {
    text-decoration: line-through;
}

.App__todo-input {
    width: 200px;
}
